MONGO_URI="mongodb+srv://username:password@cluster0.gl0atbq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
PORT=5000


set "MONGO_URI=mongodb+srv://username:password@cluster0.gl0atbq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
node backend/server.js
